.content {
	padding: 50px;
	background-color: #fdfdfd;
}
.films-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center
}

.no-films-found{
	width: 100%;
	height: 480px;
	text-align: center;
	line-height: 480px;
}