.search-field{
	&__wrapper {
		&:after {
			content: '';
			display: block;
			height: 2px;
		}

		&:before {
			content: '↲';
			z-index: 10;
			font-size: 30px;
			position: absolute;
			right: 20px;
			top: 40%;
			transform: translateY(-50%);
			color: #585858;
		}
		&:focus-within {
			&:after {
				background-color: #f55263;
				animation: border .3s ease-in-out;
			}
		}
	}
}

.search__field {
	display: block;
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
	border: none;
	background-color: #333333;
	color: #ffffff;
	text-indent: 10px;
	margin-top: 10px;
	transition: .4s;
	position: relative;
}

@keyframes border {
	from {
		background-color: #fff;
		width: 0%;
	}

	to {
		background-color: #f55263;
		width: 100%;
	}
}