{
  "extends": [ "airbnb-typescript", "prettier" , "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
	"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "prettier/prettier": ["error"],
    "no-console": "off",
    "@typescript-eslint/camelcase":"off",
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
	"import/no-unresolved": 0,
  "jsx-a11y/click-events-have-key-events":0,
    "properties": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "linebreak-style": ["error", "unix"],
    "react/button-has-type": 0,
    "no-plusplus": 0,
    "no-undef": 0,
     "@typescript-eslint/explicit-function-return-type": 0
  }
}
