.button {
	display: inline-block;
	border-radius: 3px;
	transition: .3s;
	cursor: pointer;

	&__search {
		text-transform: uppercase;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		padding: 0 80px;
		background-color: #f55263;
		color: #ffffff;

		&-link {
			padding: 0 30px;
			background-color: #ffffff;
			color: #f55263;
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			right: 70px;
			top: 20px;
			transform: none;
			&:hover {
				background-color: #f55263;
				color: #ffffff;
			}
		}
	}

	&__sort {
		color: #656565;
		display: inline-block;
		margin-right: 10px;
		transition: .3s;
		cursor: pointer;
		background: transparent;

		&:hover {
			color: #f55263;
		}

		&-active {
			color: #f55263;
		}
	}

	&__filter {
		margin-right: 10px;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		color: #ffffff;
		background-color: #555555;
		text-transform: uppercase;

		&-active {
			background-color: #f55263;
		}
	}
}