.filters {
	height: 70px;
	line-height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;

	&__title {
		color: #ffffff;
		letter-spacing: 1px;
		margin-right: 10px;
	}
}