.content {
	background-color: #fdfdfd;
	height: 100%;
	&-not-found{
		width: 100%;
		height: 60vh;
		line-height: 60vh;
		text-align: center;
		&__text{
			font-size: 48px;
		}
	}
	&-films-list {
		padding: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center
	}
}

@media only screen and (max-width: 991px) {
	.content {
		&-films-list {
			grid-template-columns: 1fr 1fr;
		}
	}
}